.about{
	background-color: #fff;
	z-index: 2;
	position: relative;
}
.about__wrapper{
	background-color: #FAFAFA;
	margin: 0 10px;
	padding: 130px 0;
	@include media-breakpoint-down(sm) { 
		padding: 50px 0;
	}
}
.about__h2{
	font-size: 36px;
	padding-left: 60px;
	margin-bottom: 60px;
	position: relative;
	@include media-breakpoint-down(md) { 
		font-size: 30px;
	}
	@include media-breakpoint-down(sm) { 
		font-size: 24px;
		margin-bottom: 30px;
	}
	&:before{
		content: '';
		background-color: #000;
		height: 2px;
		width: 40px;
		position: absolute;
		left: 0;
		top: 50%;
	}
}
.about__text{
	margin: 0 -15px;
	padding-right: 230px;
	display: flex;
	line-height: 1.8;
	@include media-breakpoint-down(md) { 
		padding-right: 0;
	}
	@include media-breakpoint-down(sm) { 
		flex-direction: column;
		font-size: 13px;
		line-height: 1.5;
	}
}
.about__text-col{
	width: 50%;
	padding: 0 15px;
	position: relative;
	@include media-breakpoint-down(sm) { 
		width: 100%;
	}
	&:last-of-type{
		&:after{
			content: '';
			display: block;
			width: 11px;
			height: 16px;
			background: #2F80ED;
			margin-top: 30px;
			@include media-breakpoint-down(sm) { 
				display: none;
			}
		}
	}
}
.about__signature{
	text-align: right;
	margin-top: 60px;
	position: absolute;
	bottom: 0;
	right: 0;
	@include media-breakpoint-only(md) {
		img{
			width: 170px;
		}
	}
	@include media-breakpoint-down(sm) { 
		position: static;
		margin-top: 30px;
		img{
			width: 140px;
		}
	}
}
.about__img{
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: calc( (100vw - 1140px)/2 + 100px );
	background-color: #eee;
	background-image: url(/images/about/img.jpg);
	@include media-breakpoint-only(lg) { 
		width: calc( (100vw - 960px)/2 + 200px );
	}
	@include media-breakpoint-down(md) { 
		display: none;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(235, 235, 235, 0.82) 73.48%, rgba(191, 191, 191, 0.76) 100%);
	}
}