.coding{
	background-color: #fff;
	z-index: 2;
	position: relative;
}
.coding__wrapper{
	background-color: #FAFAFA;
	margin: 0 10px;
	padding: 130px 0 50px 0;
	@include media-breakpoint-down(sm) { 
		padding: 50px 0 20px 0;
	}
}
.coding__h2{
	font-size: 36px;
	padding-left: 60px;
	margin-bottom: 80px;
	position: relative;
	@include media-breakpoint-only(md) { 
		font-size: 30px;
	}
	@include media-breakpoint-down(sm) { 
		font-size: 24px;
		margin-bottom: 30px;
	}
	&:before{
		content: '';
		background-color: #000;
		height: 2px;
		width: 40px;
		position: absolute;
		left: 0;
		top: 50%;
	}
}
.coding__elements{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.coding__element{
	width: 50%;
	margin-bottom: 80px;
	padding: 0 15px;
	padding-left: 150px;
	@include media-breakpoint-down(md) { 
		width: 100%;
	}
	@include media-breakpoint-down(sm) { 
		width: 100%;
		margin-bottom: 20px;
		padding-left: 70px;
	}
}
.coding__ico{
	width: 100px;
	margin-left: -135px;
	float: left;
	text-align: center;
	@include media-breakpoint-down(sm) { 
		float: left;
		margin-left: -65px;
		width: 40px;
		height: 40px;
		img{
			display: inline-block;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}
.coding__text{
	color: #828282;
	font-size: 13px;
	line-height: 1.8;
	padding-right: 50px;
	@include media-breakpoint-down(sm) { 
		line-height: 1.5;
		padding-right: 0;
	}
}