.contacts{
	background-color: #fff;
	z-index: 2;
	position: relative;
	padding: 130px 0 150px 0;
	@include media-breakpoint-down(sm) { 
		padding: 50px 0 100px 0;
	}
}
.contacts__wrapper{

}
.contacts__content{
	width: 50%;
	padding-right: 15px;
	@include media-breakpoint-only(md) { 
		width: 100%;
	}
	@include media-breakpoint-down(sm) { 
		width: 100%;
	}
}
.contacts__h2{
	font-size: 36px;
	padding-left: 60px;
	margin-bottom: 80px;
	position: relative;
	@include media-breakpoint-only(md) { 
		font-size: 30px;
	}
	@include media-breakpoint-down(sm) { 
		font-size: 24px;
		margin-bottom: 30px;
	}
	&:before{
		content: '';
		background-color: #000;
		height: 2px;
		width: 40px;
		position: absolute;
		left: 0;
		top: 50%;
	}
}
.contacts__alert{
	font-size: 13px;
	line-height: 1.8;
	@include media-breakpoint-down(sm) { 
		font-size: 12px;
		line-height: 1.5;
	}
	p{
		margin-bottom: 20px;
	}
	ul{
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 70px;
		@include media-breakpoint-down(sm) { 
			margin-bottom: 30px;
		}
	}
	li{
		margin-bottom: 7px;
		padding-left: 50px;
		position: relative;
		&:before{
			content: '';
			background-image: url(/images/contacts/alert.svg);
			width: 20px;
			height: 20px;
			background-size: contain;
			position: absolute;
			left: 10px;
			top: 2px;
		}
	}
}
.contacts__data{
	border-top: 1px solid rgba(0,0,0,0.1);
}
.contacts__data-item{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 20px 0;
	font-size: 13px;
	padding-left: 50px;
}
.contacts__data-img{
	width: 40px;
	float: left;
	margin-left: -50px;
	text-align: center;
}
.contacts__data-key{
	display: inline-block;
	width: 100px;
	@include media-breakpoint-down(sm) { 
		display: block;
	}
}
.contacts__data-val{
	display: inline-block;
	a{
		color: #000;
		font-size: 15px;		
	}
}
.contacts__img{
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: calc( (100vw - 1140px)/2 + 400px );
	background-size: cover;
	background-color: #eee;
	background-image: url(/images/contacts/img.jpg);
	@include media-breakpoint-only(md) { 
		display: none;
	}
}