.design{
	background-color: #fff;
	z-index: 2;
	position: relative;
	padding: 130px 0 50px 0;
	@include media-breakpoint-down(sm) { 
		padding: 50px 0;
	}
}
.design__h2{
	font-size: 36px;
	padding-left: 60px;
	margin-bottom: 80px;
	position: relative;
	@include media-breakpoint-only(md) { 
		font-size: 30px;
	}
	@include media-breakpoint-down(sm) { 
		font-size: 24px;
		margin-bottom: 40px;
	}
	&:before{
		content: '';
		background-color: #000;
		height: 2px;
		width: 40px;
		position: absolute;
		left: 0;
		top: 50%;
	}
}
.design__elements{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.design__element{
	width: 33.33%;
	margin-bottom: 80px;
	padding: 0 15px;
	@include media-breakpoint-only(md) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) { 
		width: 100%;
		margin-bottom: 20px;
		padding-left: 80px;
	}
}
.design__ico{
	height: 90px;
	@include media-breakpoint-down(sm) { 
		float: left;
		margin-left: -65px;
		width: 40px;
		height: 40px;
		img{
			display: inline-block;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}
.design__title{
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;
	color: #000;
	font-size: 16px;
	margin-bottom: 15px;
	@include media-breakpoint-down(sm) { 
		font-size: 15px;
		margin-bottom: 10px;
	}
	span{
		font-size: 13px;
		color: #2F80ED;
		margin-right: 10px;
	}
}
.design__text{
	color: #828282;
	font-size: 13px;
	line-height: 1.8;
	@include media-breakpoint-down(sm) { 
		line-height: 1.5;
	}
}