*{
  outline: none !important;
}
.u_custom_radio{
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  margin-bottom: rem(2px);
  margin-right: rem(8px);
  input[type=radio]{
    position: absolute;
    top: rem(-100px);
    left: rem(-100px);
    &:checked+.u_custom_radio_view{
      &:before{
        display: block;
      }
    }
  }
}
.u_custom_radio_view{
  display: block;
  width: rem(20px);
  height: rem(20px);
  border-radius: rem(100px);
  border: rem(1px) solid #CDBE9B;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: rem(3px);
    left: rem(3px);
    border-radius: rem(10px);
    width: rem(12px);
    height: rem(12px);
    background: #B9A16B;
    display: none;
  }
}

button,
input[type=submit]{
  cursor: pointer;
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}
.overlay__item{
  background-color: #000;
  opacity: .95;
  position: absolute;
  transition: all .5s;
  animation: overlay__item .5s;
  will-change: left, top, opacity, width, height;
  transform: translate3d(0, 0, 0);
}
@keyframes overlay__item {
    from {
      opacity: 0;
    }
    to {
      top: 1;
    }
}

#chatra:not(.chatra--expanded){
  z-index: 0 !important;
}

.page-wrapper{
  width: 100%;
  overflow: hidden;
  @include media-breakpoint-down(sm) { 
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}