.intro{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include media-breakpoint-down(sm) { 
    position: relative;
  }
  &__bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-image: url(/images/intro/bg.jpg);
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-down(sm) { 
      position: relative;
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(/images/intro/pattern.png);
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.88%, #000000 100%), rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    video{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      min-height: 100%;
      min-width: 100%;
      max-width: 120%;
      width: auto;
      height: auto;
      @include media-breakpoint-down(sm) { 
        display: none;
      }
    }
  }
  &__container{
    height: 100%;
    margin: 0 30px;
  }
  &__grid{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    .container{
      height: 100%;
    }
  }
  &__grid__inner{
    height: 100%;
    position: relative;
  }
  &__grid__line{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(255,255,255,.05);
    &:nth-of-type(1){
      left: 0;
    }
    &:nth-of-type(2){
      left: 8.333%;
      margin-left: -1px;
    }
    &:nth-of-type(3){
      left: 16.666%;
      margin-left: -1px;
    }
    &:nth-of-type(4){
      left: 24.999%;
      margin-left: -1px;
    }
    &:nth-of-type(5){
      left: 33.222%;
      margin-left: -1px;
    }
    &:nth-of-type(6){
      left: 41.555%;
      margin-left: -1px;
    }
    &:nth-of-type(7){
      left: 50%;
      margin-left: -1px;
    }
    &:nth-of-type(8){
      left: 58.33%;
      margin-left: -1px;
    }
    &:nth-of-type(9){
      left: 66.67%;
      margin-left: -1px;
    }
    &:nth-of-type(10){
      left: 75%;
      margin-left: -1px;
    }
    &:nth-of-type(11){
      left: 83.22%;
      margin-left: -1px;
    }
    &:nth-of-type(12){
      left: 91.56%;
      margin-left: -1px;
    }
    &:nth-of-type(13){
      left: 100%;
      margin-left: -1px;
    }
  }
  &__content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #fff;
  }
  &__panel{
    text-align: center;
    width: 288px;
  }
  &__ava{
    img{
      display: inline-block;
      width: 221px;
      height: auto;
      @include media-breakpoint-only(lg) { 
        width: 200px;
      }
      @include media-breakpoint-down(sm) { 
        width: 180px;
      }
    }
  }
  &__name{
    font-size: 36px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
    margin-top: 40px;
    visibility: hidden;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    @include media-breakpoint-only(lg) { 
      font-size: 30px;
    }
    @include media-breakpoint-down(sm) { 
      font-size: 24px;
      margin-top: 20px;
    }
    &.-animated{
      animation: fadeInUp .3s;
      visibility: visible;
    }
  }
  &__position{
    background-color: #000;
    width: 100%;
    margin-top: 20px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding: 10px;
    letter-spacing: .1em;
    @include media-breakpoint-down(sm) {
      font-size: 11px;
    }
  }
}

.intro__scroll{
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #000;
  border-radius: 100px;
  @include media-breakpoint-down(sm) { 
    display: none;
  }
  span
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
  }

  .unu
  {
    margin-top: 6px;
  }

  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
  }

  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
  }

  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
  }

  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
  }

  .mouse
  {
  height: 21px;
  width: 14px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }

  .wheel
  {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
  }

  .wheel
  {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
  }
}

@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}