.b_menu_toggler{
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 1001;
  display: none;
  background-color: #FF5B45;
  border: 0;
  @media (max-width: 767px){
    display: block;
  }
  span{
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s;
    transform-origin: center;
    left: 16px;
  }
  ._top{
    top: 15px;
    will-change: top, transform;
  }
  ._middle{
    top: 24px;
    will-change: top, transform;
  }
  ._bottom{
    top: 33px;
    will-change: top, transform;
  }
  &.menu-is-active span {
    transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

  &.menu-is-active span._top {
    top: 24px;
    transform: rotate(135deg);
  }

  &.menu-is-active span._middle {
    opacity: 0;
    transform: rotate(135deg);
  }

  &.menu-is-active span._bottom {
    top: 24px;
    transform: rotate(225deg);
  }
  &.menu-is-active+.b_mobile_header+.b_sidebar{
    z-index: 30;
    left: 0;
  }
}