.panel{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  z-index: 10;
  padding: 0 40px;
  @include media-breakpoint-only(lg) { 
    padding: 0 10px;
  }
  @include media-breakpoint-only(md) {
    padding: 0 10px;
  }
  @include media-breakpoint-down(sm) {
    background-color: transparent;
    padding: 0;
    height: 36px;
  }
}
.panel__nav{
  float: left;
  @include media-breakpoint-down(sm) {
    position: fixed;
    float: none;
    box-shadow: none;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.95);
    visibility: hidden;
    transition: all .3s;
    transform: translateX(-50px);
    opacity: 0;
    padding-top: 50px;
  }
}
.panel__nav--visible{
  @include media-breakpoint-down(sm) {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
.panel__nav-item{
  color: #000 !important;
  display: inline-block;
  padding: 0 20px;
  text-decoration: none !important;
  transition: all .3s;
  font-weight: bold;
  border-top: 2px solid transparent;
  line-height: 48px;
  @include media-breakpoint-only(lg) { 
    padding: 0 10px;
  }
  @include media-breakpoint-only(md) {
    padding: 0 15px;
    font-size: 13px;
  }
  @include media-breakpoint-down(sm) {
    display: block;
    color: #fff !important;
  }
  &:hover{
    background-color: #eee;
    text-shadow: 0 0 10px rgba(0,0,0,.4);
    @include media-breakpoint-down(sm) {
      background-color: transparent;
      text-shadow: none;
    }
  }
}
.panel__nav-item--active{
  border-top: 2px solid #2F80ED;
  color: #2F80ED !important;
  pointer-events: none;
  @include media-breakpoint-down(sm) {
    color: #fff !important;
    border-top: 0;
    pointer-events: all;
  }
}
.panel__contacts{
  float: right;
  @include media-breakpoint-down(sm) {
    float: none;
  }
}
.panel__contacts-item{
  color: #000 !important;
  display: inline-block;
  padding: 0 20px;
  text-decoration: none !important;
  transition: all .3s;
  @include media-breakpoint-only(md) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  &:hover{
    background-color: #eee;
    text-shadow: 0 0 10px rgba(0,0,0,.4);
  }
}
.panel__contacts-item--skype{
  &:before{
    content: '';
    display: inline-block;
    background-image: url(/images/panel/skype.svg);
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -2px;
  }
}
.panel__contacts-item--telegram{
  &:before{
    content: '';
    display: inline-block;
    background-image: url(/images/panel/telegram.svg);
    width: 18px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -2px;
  }
}
.panel__contacts-chat{
  height: 50px;
  background-color: #FE5151;
  color: #fff !important;
  padding: 0 40px;
  display: inline-block;
  font-weight: bold;
  margin-left: 40px;
  border: 0;
  transition: all .3s;
  @include media-breakpoint-only(lg) { 
    margin-left: 10px;
  }
  @include media-breakpoint-down(sm) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    margin-left: 0;
    height: 36px;
    line-height: 36px;
  }
  &:hover{
    background-color: #FF5B45;
    box-shadow: 0 0 50px #FF5B45;
  }
  &:before{
    content: '';
    display: inline-block;
    background-image: url(/images/panel/bubbles.svg);
    width: 16px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
  }
}