.mfp-bg{
	opacity: 0 !important;
}

.my-mfp-zoom-in .mfp-content {
	opacity: 0;
	transition: all 0.5s ease-in-out; 
	transform: translate(0, 100px);
	will-change: translate, opacity;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .mfp-content {
	opacity: 1;

	transform: translate(0, 0);
	
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .mfp-content {
	transform: translate(0, 100px);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transform: translate(0, 100px);
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
