.works{
	padding: 100px 0;
	background-color: #fff;
	z-index: 2;
	position: relative;
	@include media-breakpoint-down(sm) { 
		padding: 50px 0;
	}
}
.works__container{
    margin: 0 45px;
    @include media-breakpoint-down(sm) { 
    	margin: 0 15px;
    }
}
.works__h2{
	font-weight: bold;
	line-height: normal;
	font-size: 36px;
	text-align: center;
	color: #000000;
	margin: 0;
	margin-bottom: 50px;
    @include media-breakpoint-down(lg) { 
		margin-bottom: 30px;
    }
	@include media-breakpoint-down(md) { 
		font-size: 30px;
	}
	@include media-breakpoint-down(sm) { 
		font-size: 24px;
		margin-bottom: 30px;
	}
}
.works__filter{
	text-align: center;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	padding: 10px 0;
	margin-bottom: 50px;
    @include media-breakpoint-down(lg) { 
		margin-bottom: 30px;
    }
	@include media-breakpoint-down(sm) { 
		margin-bottom: 20px;
	}
}
.works__filter-item{
	color: #000;
	font-size: 14px;
	display: inline-block;
	margin: 0 20px;
	padding: 10px 20px;
	@include media-breakpoint-down(sm) { 
		font-size: 12px;
		padding: 5px 10px;
		margin: 0 5px;
	}
}
.works__filter-item--active{
	background-color: #2F80ED;
	color: #fff !important;
	border-radius: 4px;
	pointer-events: none;
}
.works__wrapper{
	margin: 0 -15px;
	@include media-breakpoint-down(sm) { 
		margin: 0 -7px;
	}
}
.works__item{
	width: 33.33%;
	padding: 15px;
	@include media-breakpoint-only(md) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) { 
		width: 50%;
		padding: 7px;
	}
}
.works__item-img{
	max-width: 100%;
	height: auto;
}