<template>
  <a class="works__item" href="/images/works/greece-full.jpg">
    <img class="works__item-img" v-bind:src="'http://andrey-medvedev.ru'+path" alt="">
    <!-- {{title}} -->
  </a>
</template>

<script>

export default {
  props: ['path' , 'title'],
  data(){
    return {
      
    }
  }
}

</script>
