<template>
  <div class="page-wrapper">
    <div class="loader">
      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 289 289">
        <style></style>
        <circle class="st0" cx="144.5" cy="144.5" r="143.5"></circle>
        <circle class="st1" cx="144.5" cy="144.5" r="131"></circle>
        <path class="st2" d="M79.4 112.2l-7.9 14.1-8.9-18z"></path>
        <path class="st3" d="M76.7 95.2l2.7 17 14.3-14.6z"></path>
        <path class="st4" d="M62.6 108.3l2.4-9.1 14.4 13z"></path>
        <path class="st5" d="M65 99.2l11.7-4 2.7 17z"></path>
        <path class="st6" d="M76.7 95.2l5.9-3.1 11.1 5.5zM65 99.2l-8.4-12.4 20.1 8.4z"></path>
        <path class="st7" d="M62.6 108.3l-11.6-6 14-3.1z"></path>
        <path class="st3" d="M62.6 108.3l-1.1 14 10 4z"></path>
        <path class="st8" d="M82.6 92.1l-3.2-10.2-2.7 13.3z"></path>
        <path class="st9" d="M56.6 86.8l10.1-10.1 10 18.5z"></path>
        <path class="st10" d="M66.7 76.7l12.7 5.2-2.7 13.3z"></path>
        <path class="st11" d="M79.4 81.9l9.5 10.2h-6.3z"></path>
        <path class="st12" d="M82.6 92.1l11.1 5.5-4.8-5.5z"></path>
        <path class="st13" d="M56.6 86.8L51 102.3l14-3.1z"></path>
        <path class="st14" d="M51 102.3l10.5 20 1.1-14z"></path>
        <path class="st15" d="M56.6 86.8l-5.9 3.5.3 12z"></path>
        <path class="st16" d="M50.7 90.3l6.8-14.2-.9 10.7z"></path>
        <path class="st17" d="M57.5 76.1l9.2.6-10.1 10.1z"></path>
        <path class="st18" d="M57.5 76.1l19.2-4.2-10 4.8z"></path>
        <path class="st19" d="M76.7 71.9l2.7 10-12.7-5.2z"></path>
        <path class="st19" d="M76.7 71.9l16.3 12-13.6-2z"></path>
        <path class="st20" d="M93 83.9l-4.1 8.2-9.5-10.2z"></path>
        <path class="st21" d="M88.9 92.1l10.8 1-6 4.5z"></path>
        <path class="st18" d="M88.9 92.1l13.5-10.7-2.7 11.7z"></path>
        <path class="st22" d="M123.1 120.8l-7.8-3.9-2.6 10.9z"></path>
        <path class="st23" d="M93 83.9l9.4-2.5-13.5 10.7z"></path>
        <path class="st3" d="M116.2 125.1l6.9-4.3.4 5.9z"></path>
        <path class="st8" d="M125 128.6l-6.8-.1 4.4 7.5z"></path>
        <path class="st19" d="M102.4 81.4l3.6 7.1-6.3 4.6z"></path>
        <path class="st8" d="M123.1 120.8l6 7-5.7-1.9z"></path>
        <path class="st24" d="M129.1 127.8l-4.1.8-2.4 7.4z"></path>
        <path class="st5" d="M116.2 125.1l-2.9 8-.6-5.3z"></path>
        <path class="st25" d="M116.2 125.1l6.4 10.9-9.3-2.9z"></path>
        <path class="st5" d="M123.4 125.9l1.6 2.7 4.1-.8z"></path>
        <path class="st4" d="M116.2 125.1s-.3 5.1 5.3 4.8c0 0 2.4-.3 3.4-1.3 0 0-.2-3-3.5-3.5-3.3-.6-5.2 0-5.2 0z"></path>
        <circle class="st26" cx="121.9" cy="126.7" r=".7"></circle>
        <path class="st27" d="M123.1 120.8l10.1 2.6-4.1 4.4z"></path>
        <path class="st28" d="M123.1 120.8l6-5.3 4.1 7.9z"></path>
        <path class="st29" d="M122.6 136l8.1 1.9 2.5-14.5-4.1 4.4z"></path>
        <path class="st30" d="M122.6 136l4.5 5 3.6-3.1z"></path>
        <path class="st31" d="M122.6 136l-7.6 11.4 12.1-6.4z"></path>
        <path class="st29" d="M113.3 133.1l1.7 14.3 7.6-11.4z"></path>
        <path class="st32" d="M113.3 133.1l-8.5 13.2 10.2 1.1z"></path>
        <path class="st30" d="M127.1 141l-4.5 20-7.6-13.8z"></path>
        <path class="st33" d="M133.2 123.4l11.4-8.4v8.1z"></path>
        <path class="st19" d="M133.2 123.4l2.1 21.3 9.3-21.6z"></path>
        <path class="st18" d="M144.6 123.1v19.3l-9.3 2.3z"></path>
        <path class="st19" d="M135.3 144.7l-8.2-3.7 3.6-3.1z"></path>
        <path class="st23" d="M133.2 123.4l-2.5 14.5 4.6 6.8z"></path>
        <path class="st16" d="M135.3 144.7l1.4 3.9 7.9-6.2z"></path>
        <path class="st15" d="M136.7 148.6l7.9 3.1v-9.3z"></path>
        <path class="st34" d="M135.3 144.7l-5.6 9.5 7-5.6z"></path>
        <path class="st26" d="M129.7 154.2l-7.1 6.8 4.5-20z"></path>
        <path class="st19" d="M127.1 141l8.2 3.7-5.6 9.5z"></path>
        <path class="st18" d="M129.7 154.2l-.3 8-6.8-1.2z"></path>
        <path class="st17" d="M122.6 161l-6.4 15.6 8.1-4.8z"></path>
        <path class="st15" d="M129.4 162.2l-6 4.1 7.8 3z"></path>
        <path class="st35" d="M129.4 162.2l-6 4.1-.8-5.3z"></path>
        <path class="st21" d="M131.2 169.3l-3.3 8.8 16.7-3.5z"></path>
        <path class="st9" d="M127.9 178.1l7.4 4.2 9.3-7.7z"></path>
        <path class="st36" d="M127.9 178.1L125 191l10.3-8.7z"></path>
        <path class="st37" d="M116.2 176.6l11.7 1.5-3.6-6.3z"></path>
        <path class="st38" d="M131.2 169.3l-6.9 2.5 3.6 6.3z"></path>
        <path class="st16" d="M123.4 166.3l.9 5.5 6.9-2.5z"></path>
        <path class="st15" d="M127.9 178.1l-5.8-.8L125 191z"></path>
        <path class="st39" d="M135.3 182.3l9.3-1.1v-6.6z"></path>
        <path class="st4" d="M129.4 187.2l5.4-1.9 9.8 1v-5.1l-9.3 1.1z"></path>
        <path class="st27" d="M129.4 162.2l11.9-2.3-1.9 6.4z"></path>
        <path class="st12" d="M139.4 166.3l5.2 8.3v-7z"></path>
        <path class="st40" d="M139.4 166.3l-8.2 3 13.4 5.3z"></path>
        <path class="st3" d="M136.7 148.6l-7 5.6-.3 8 11.9-2.3-1.9 6.4 5.2 1.3v-15.9z"></path>
        <path class="st41" d="M139.4 166.3l-10-4.1 1.8 7.1z"></path>
        <path class="st42" d="M141.3 159.9l-.7-6.6-2.7.9-.5 2.5z"></path>
        <path class="st12" d="M115.3 116.9l-10.5 5.4V136z"></path>
        <path class="st15" d="M129.1 115.5l9.3-9.3-5.2 17.2z"></path>
        <path class="st38" d="M90.7 158.1l-13-6.9 3.8 21.8z"></path>
        <path class="st9" d="M90.7 158.1l-6.6-22 10-2.8z"></path>
        <path class="st43" d="M94.1 133.3l2.8-16 7.9 5z"></path>
        <path class="st17" d="M93.7 97.6l-9.6 38.5-4.7-23.9z"></path>
        <path class="st44" d="M79.4 112.2l-7.9 14.1 12.6 9.8z"></path>
        <path class="st45" d="M123.1 120.8l-7.8-3.9-11-5.2 21.8-4.4z"></path>
        <path class="st15" d="M126.1 107.3l3 8.2-6 5.3z"></path>
        <path class="st26" d="M126.1 107.3l.7-11.4 11.6 10.3-9.3 9.3z"></path>
        <path class="st46" d="M104.3 111.7l-7.4 5.6 7.9 5z"></path>
        <path class="st45" d="M126.1 107.3l-12-8.7 12.7-2.7z"></path>
        <path class="st47" d="M119.2 102.3l6.9 5-21.8 4.4z"></path>
        <path class="st22" d="M114.1 98.6l-9.8 13.1 14.9-9.4z"></path>
        <path class="st33" d="M104.3 111.7L93.7 97.6l20.4 1z"></path>
        <path class="st31" d="M104.3 111.7l-7.4 5.6-10.4 7.8 3.9-14.3z"></path>
        <path class="st21" d="M93.7 97.6l10.6 14.1-13.9-.9z"></path>
        <path class="st48" d="M96.9 117.3l-12.8 18.8 2.4-11z"></path>
        <path class="st49" d="M96.9 117.3l-2.8 16-10 2.8z"></path>
        <path class="st15" d="M90.7 158.1l7.4 24.9-16.6-10z"></path>
        <path class="st34" d="M81.5 173l2.8 13.5 13.8-3.5z"></path>
        <path class="st37" d="M84.3 186.5l-8-3.5 5.2-10z"></path>
        <path class="st34" d="M81.5 173L71 170.4l5.3 12.6z"></path>
        <path class="st21" d="M71 170.4l8.7-7.8 1.8 10.4z"></path>
        <path class="st37" d="M71 170.4l-2.3-7.8h11z"></path>
        <path class="st21" d="M68.7 162.6l9-11.4 2 11.4z"></path>
        <path class="st17" d="M77.7 151.2l6.4-15.1-16 15.6z"></path>
        <path class="st26" d="M77.7 151.2l-9 11.4-.6-10.9z"></path>
        <path class="st50" d="M84.1 136.1l6.6 22-13-6.9z"></path>
        <path class="st19" d="M84.1 136.1l-12.6-9.8-3.4 25.4z"></path>
        <path class="st28" d="M90.7 158.1l14.1-11.8-2.4 15.6z"></path>
        <path class="st51" d="M104.8 146.3l10.2.9-12.6 14.7z"></path>
        <path class="st31" d="M115 147.2l1.2 29.4 6.4-15.6z"></path>
        <path class="st52" d="M102.4 161.9l5.3 17.8 8.5-3.1z"></path>
        <path class="st46" d="M102.4 161.9l13.3-.9.5 15.6z"></path>
        <path class="st48" d="M102.4 161.9l12.6-14.7.7 13.8z"></path>
        <path class="st53" d="M102.4 161.9L98.1 183l9.6-3.3z"></path>
        <path class="st48" d="M102.4 161.9l-11.7-3.8 7.4 24.9z"></path>
        <path class="st9" d="M104.8 146.3V136l-14.1 22.1z"></path>
        <path class="st54" d="M104.8 136l-10.7-2.7-3.4 24.8z"></path>
        <path class="st22" d="M94.1 133.3l10.7-11V136z"></path>
        <path class="st55" d="M115.3 116.9l-2.6 10.9-7.9 8.2zM115.3 116.9l-11-5.2.5 10.6z"></path>
        <path class="st28" d="M113.3 133.1l-8.5 2.9 7.9-8.2z"></path>
        <path class="st29" d="M113.3 133.1l-8.5 13.2V136z"></path>
        <path class="st51" d="M126.8 95.9l1.5-15.2 8.6 15.6z"></path>
        <path class="st10" d="M136.9 96.3l7.7-12.4v11.6z"></path>
        <path class="st33" d="M136.9 96.3l-8.6-15.6 16.3 3.2z"></path>
        <path class="st17" d="M136.9 96.3l1.5 9.9-11.6-10.3z"></path>
        <path class="st35" d="M138.4 106.2l6.2-10.7-7.7.8z"></path>
        <path class="st18" d="M138.4 106.2l6.2 8.8V95.5z"></path>
        <path class="st50" d="M138.4 106.2l-5.2 17.2 11.4-8.4zM126.8 95.9L106 88.5l22.3-7.8z"></path>
        <path class="st15" d="M106 88.5l8.1 10.1 12.7-2.7z"></path>
        <path class="st30" d="M93.7 97.6l12.3-9.1 8.1 10.1z"></path>
        <path class="st29" d="M116.2 176.6l-7.4 12.8 13.3-12.1z"></path>
        <path class="st48" d="M122.1 177.3L125 191l-16.2-1.6z"></path>
        <path class="st56" d="M108.8 189.4l-1.1-9.7 8.5-3.1z"></path>
        <path class="st57" d="M107.7 179.7l-9.6 3.3 10.7 6.4z"></path>
        <path class="st43" d="M108.8 189.4l11.5 21.2L125 191z"></path>
        <path class="st53" d="M125 191l4.4 12.9-9.1 6.7z"></path>
        <path class="st8" d="M108.8 189.4l-2.9 12.8 14.4 8.4z"></path>
        <path class="st8" d="M105.9 202.2l-4.4 11 4.4 10.7z"></path>
        <path class="st39" d="M105.9 202.2l11.5 23.9-11.5-6.6z"></path>
        <path class="st42" d="M105.9 219.5l8.1 11.9 3.4-5.3z"></path>
        <path class="st24" d="M105.9 202.2L98.1 183l10.7 6.4z"></path>
        <path class="st25" d="M120.3 210.6l-2.9 15.5-11.5-23.9z"></path>
        <path class="st24" d="M129.4 203.9l-12 22.2 2.9-15.5z"></path>
        <path class="st58" d="M129.4 203.9l15.2 11.1-27.2 11.1z"></path>
        <path class="st8" d="M129.4 203.9l5.4-18.6-5.4 1.9-4.4 3.8zM134.8 185.3l9.8 6.6v-5.6z"></path>
        <path class="st41" d="M134.8 185.3l9.8 6.6-15.2 12z"></path>
        <path class="st39" d="M144.6 191.9V215l-8-16.8z"></path>
        <path class="st40" d="M136.6 198.2l-7.2 5.7 15.2 11.1zM105.9 202.2l-11-7 3.2-12.2z"></path>
        <path class="st59" d="M94.9 195.2l6.6 18 4.4-11z"></path>
        <path class="st49" d="M94.9 195.2l-10.6-8.7 13.8-3.5z"></path>
        <path class="st60" d="M94.9 195.2l-2 9.7 8.6 8.3z"></path>
        <path class="st27" d="M84.3 186.5v8.1l10.6.6z"></path>
        <path class="st29" d="M84.3 186.5l-8-3.5 8 11.6z"></path>
        <path class="st61" d="M94.9 195.2l-10.6-.6 8.6 10.3z"></path>
        <path class="st24" d="M117.4 226.1l13.1 9.7 1.6-15.7z"></path>
        <path class="st59" d="M132.1 220.1l6.8 11.3 5.7-16.4z"></path>
        <path class="st8" d="M138.9 231.4l5.7 11.4V215z"></path>
        <path class="st5" d="M130.5 235.8l8.4-4.4-6.8-11.3z"></path>
        <path class="st40" d="M130.5 235.8l9.8 5.3-1.4-9.7z"></path>
        <path class="st62" d="M117.4 226.1l6.4 12.2.4-7.2z"></path>
        <path class="st27" d="M124.2 231.1l6.7 11-.4-6.3z"></path>
        <g>
          <path class="st2" d="M209.6 112.2l7.9 14.1 8.9-18z"></path>
          <path class="st3" d="M212.3 95.2l-2.7 17-14.3-14.6z"></path>
          <path class="st4" d="M226.4 108.3l-2.5-9.1-14.3 13z"></path>
          <path class="st5" d="M223.9 99.2l-11.6-4-2.7 17z"></path>
          <path class="st6" d="M212.3 95.2l-5.9-3.1-11.1 5.5zM223.9 99.2l8.4-12.4-20 8.4z"></path>
          <path class="st7" d="M226.4 108.3l11.6-6-14.1-3.1z"></path>
          <path class="st3" d="M226.4 108.3l1.1 14-10 4z"></path>
          <path class="st8" d="M206.4 92.1l3.2-10.2 2.7 13.3z"></path>
          <path class="st9" d="M232.3 86.8l-10-10.1-10 18.5z"></path>
          <path class="st10" d="M222.3 76.7l-12.7 5.2 2.7 13.3z"></path>
          <path class="st11" d="M209.6 81.9l-9.5 10.2h6.3z"></path>
          <path class="st12" d="M206.4 92.1l-11.1 5.5 4.8-5.5z"></path>
          <path class="st13" d="M232.3 86.8l5.7 15.5-14.1-3.1z"></path>
          <path class="st14" d="M238 102.3l-10.5 20-1.1-14z"></path>
          <path class="st15" d="M232.3 86.8l5.9 3.5-.2 12z"></path>
          <path class="st16" d="M238.2 90.3l-6.8-14.2.9 10.7z"></path>
          <path class="st17" d="M231.4 76.1l-9.1.6 10 10.1z"></path>
          <path class="st18" d="M231.4 76.1l-19.1-4.2 10 4.8z"></path>
          <path class="st19" d="M212.3 71.9l-2.7 10 12.7-5.2zM212.3 71.9l-16.3 12 13.6-2z"></path>
          <path class="st20" d="M196 83.9l4.1 8.2 9.5-10.2z"></path>
          <path class="st21" d="M200.1 92.1l-10.9 1 6.1 4.5z"></path>
          <path class="st18" d="M200.1 92.1l-13.5-10.7 2.6 11.7z"></path>
          <path class="st22" d="M165.9 120.8l7.8-3.9 2.5 10.9z"></path>
          <path class="st23" d="M196 83.9l-9.4-2.5 13.5 10.7z"></path>
          <path class="st3" d="M172.7 125.1l-6.8-4.3-.4 5.9z"></path>
          <path class="st8" d="M164 128.6l6.8-.1-4.4 7.5z"></path>
          <path class="st19" d="M186.6 81.4l-3.6 7.1 6.2 4.6z"></path>
          <path class="st8" d="M165.9 120.8l-6 7 5.6-1.9z"></path>
          <path class="st24" d="M159.9 127.8l4.1.8 2.4 7.4z"></path>
          <path class="st5" d="M172.7 125.1l3 8 .5-5.3z"></path>
          <path class="st25" d="M172.7 125.1l-6.3 10.9 9.3-2.9z"></path>
          <path class="st5" d="M165.5 125.9l-1.5 2.7-4.1-.8z"></path>
          <path class="st4" d="M172.7 125.1s.3 5.1-5.3 4.8c0 0-2.4-.3-3.4-1.3 0 0 .2-3 3.5-3.5 3.3-.6 5.2 0 5.2 0z"></path>
          <circle class="st26" cx="167.1" cy="126.7" r=".7"></circle>
          <path class="st27" d="M165.9 120.8l-10.1 2.6 4.1 4.4z"></path>
          <path class="st28" d="M165.9 120.8l-6-5.3-4.1 7.9z"></path>
          <path class="st29" d="M166.4 136l-8.2 1.9-2.4-14.5 4.1 4.4z"></path>
          <path class="st30" d="M166.4 136l-4.5 5-3.7-3.1z"></path>
          <path class="st31" d="M166.4 136l7.5 11.4-12-6.4z"></path>
          <path class="st29" d="M175.7 133.1l-1.8 14.3-7.5-11.4z"></path>
          <path class="st32" d="M175.7 133.1l8.5 13.2-10.3 1.1z"></path>
          <path class="st30" d="M161.9 141l4.5 20 7.5-13.8z"></path>
          <path class="st33" d="M155.8 123.4l-11.4-8.4v8.1z"></path>
          <path class="st19" d="M155.8 123.4l-2.1 21.3-9.3-21.6z"></path>
          <path class="st18" d="M144.4 123.1v19.3l9.3 2.3z"></path>
          <path class="st19" d="M153.7 144.7l8.2-3.7-3.7-3.1z"></path>
          <path class="st23" d="M155.8 123.4l2.4 14.5-4.5 6.8z"></path>
          <path class="st16" d="M153.7 144.7l-1.4 3.9-7.9-6.2z"></path>
          <path class="st15" d="M152.3 148.6l-7.9 3.1v-9.3z"></path>
          <path class="st34" d="M153.7 144.7l5.6 9.5-7-5.6z"></path>
          <path class="st26" d="M159.3 154.2l7.1 6.8-4.5-20z"></path>
          <path class="st19" d="M161.9 141l-8.2 3.7 5.6 9.5z"></path>
          <path class="st18" d="M159.3 154.2l.2 8 6.9-1.2z"></path>
          <path class="st17" d="M166.4 161l6.3 15.6-8-4.8z"></path>
          <path class="st15" d="M159.5 162.2l6 4.1-7.7 3z"></path>
          <path class="st35" d="M159.5 162.2l6 4.1.9-5.3z"></path>
          <path class="st21" d="M157.8 169.3l3.3 8.8-16.7-3.5z"></path>
          <path class="st9" d="M161.1 178.1l-7.4 4.2-9.3-7.7z"></path>
          <path class="st36" d="M161.1 178.1L164 191l-10.3-8.7z"></path>
          <path class="st37" d="M172.7 176.6l-11.6 1.5 3.6-6.3z"></path>
          <path class="st38" d="M157.8 169.3l6.9 2.5-3.6 6.3z"></path>
          <path class="st16" d="M165.5 166.3l-.8 5.5-6.9-2.5z"></path>
          <path class="st15" d="M161.1 178.1l5.8-.8L164 191z"></path>
          <path class="st39" d="M153.7 182.3l-9.3-1.1v-6.6z"></path>
          <path class="st4" d="M159.5 187.2l-5.3-1.9-9.8 1v-5.1l9.3 1.1z"></path>
          <path class="st27" d="M159.5 162.2l-11.8-2.3 1.9 6.4z"></path>
          <path class="st12" d="M149.6 166.3l-5.2 8.3v-7z"></path>
          <path class="st40" d="M149.6 166.3l8.2 3-13.4 5.3z"></path>
          <path class="st3" d="M152.3 148.6l7 5.6.2 8-11.8-2.3 1.9 6.4-5.2 1.3v-15.9z"></path>
          <path class="st41" d="M149.6 166.3l9.9-4.1-1.7 7.1z"></path>
          <path class="st42" d="M147.7 159.9l.6-6.6 2.7.9.6 2.5z"></path>
          <path class="st12" d="M173.7 116.9l10.5 5.4V136z"></path>
          <path class="st15" d="M159.9 115.5l-9.3-9.3 5.2 17.2z"></path>
          <path class="st38" d="M198.2 158.1l13.1-6.9-3.8 21.8z"></path>
          <path class="st9" d="M198.2 158.1l6.7-22-10-2.8z"></path>
          <path class="st43" d="M194.9 133.3l-2.8-16-7.9 5z"></path>
          <path class="st17" d="M195.3 97.6l9.6 38.5 4.7-23.9z"></path>
          <path class="st44" d="M209.6 112.2l7.9 14.1-12.6 9.8z"></path>
          <path class="st45" d="M165.9 120.8l7.8-3.9 11-5.2-21.9-4.4z"></path>
          <path class="st15" d="M162.8 107.3l-2.9 8.2 6 5.3z"></path>
          <path class="st26" d="M162.8 107.3l-.6-11.4-11.6 10.3 9.3 9.3z"></path>
          <path class="st46" d="M184.7 111.7l7.4 5.6-7.9 5z"></path>
          <path class="st45" d="M162.8 107.3l12.1-8.7-12.7-2.7z"></path>
          <path class="st47" d="M169.7 102.3l-6.9 5 21.9 4.4z"></path>
          <path class="st22" d="M174.9 98.6l9.8 13.1-15-9.4z"></path>
          <path class="st33" d="M184.7 111.7l10.6-14.1-20.4 1z"></path>
          <path class="st31" d="M184.7 111.7l7.4 5.6 10.3 7.8-3.8-14.3z"></path>
          <path class="st21" d="M195.3 97.6l-10.6 14.1 13.9-.9z"></path>
          <path class="st48" d="M192.1 117.3l12.8 18.8-2.5-11z"></path>
          <path class="st49" d="M192.1 117.3l2.8 16 10 2.8z"></path>
          <path class="st15" d="M198.2 158.1l-7.3 24.9 16.6-10z"></path>
          <path class="st34" d="M207.5 173l-2.9 13.5-13.7-3.5z"></path>
          <path class="st37" d="M204.6 186.5l8.1-3.5-5.2-10z"></path>
          <path class="st34" d="M207.5 173l10.5-2.6-5.3 12.6z"></path>
          <path class="st21" d="M218 170.4l-8.7-7.8-1.8 10.4z"></path>
          <path class="st37" d="M218 170.4l2.2-7.8h-10.9z"></path>
          <path class="st21" d="M220.2 162.6l-8.9-11.4-2 11.4z"></path>
          <path class="st17" d="M211.3 151.2l-6.4-15.1 16 15.6z"></path>
          <path class="st26" d="M211.3 151.2l8.9 11.4.7-10.9z"></path>
          <path class="st50" d="M204.9 136.1l-6.7 22 13.1-6.9z"></path>
          <path class="st19" d="M204.9 136.1l12.6-9.8 3.4 25.4z"></path>
          <path class="st28" d="M198.2 158.1l-14-11.8 2.4 15.6z"></path>
          <path class="st51" d="M184.2 146.3l-10.3.9 12.7 14.7z"></path>
          <path class="st31" d="M173.9 147.2l-1.2 29.4-6.3-15.6z"></path>
          <path class="st52" d="M186.6 161.9l-5.3 17.8-8.6-3.1z"></path>
          <path class="st46" d="M186.6 161.9l-13.3-.9-.6 15.6z"></path>
          <path class="st48" d="M186.6 161.9l-12.7-14.7-.6 13.8z"></path>
          <path class="st53" d="M186.6 161.9l4.3 21.1-9.6-3.3z"></path>
          <path class="st48" d="M186.6 161.9l11.6-3.8-7.3 24.9z"></path>
          <path class="st9" d="M184.2 146.3V136l14 22.1z"></path>
          <path class="st54" d="M184.2 136l10.7-2.7 3.3 24.8z"></path>
          <path class="st22" d="M194.9 133.3l-10.7-11V136z"></path>
          <path class="st55" d="M173.7 116.9l2.5 10.9 8 8.2zM173.7 116.9l11-5.2-.5 10.6z"></path>
          <path class="st28" d="M175.7 133.1l8.5 2.9-8-8.2z"></path>
          <path class="st29" d="M175.7 133.1l8.5 13.2V136z"></path>
          <path class="st51" d="M162.2 95.9l-1.5-15.2-8.7 15.6z"></path>
          <path class="st10" d="M152 96.3l-7.6-12.4v11.6z"></path>
          <path class="st33" d="M152 96.3l8.7-15.6-16.3 3.2z"></path>
          <path class="st17" d="M152 96.3l-1.4 9.9 11.6-10.3z"></path>
          <path class="st35" d="M150.6 106.2l-6.2-10.7 7.6.8z"></path>
          <path class="st18" d="M150.6 106.2l-6.2 8.8V95.5z"></path>
          <path class="st50" d="M150.6 106.2l5.2 17.2-11.4-8.4zM162.2 95.9l20.8-7.4-22.3-7.8z"></path>
          <path class="st15" d="M183 88.5l-8.1 10.1-12.7-2.7z"></path>
          <path class="st30" d="M195.3 97.6L183 88.5l-8.1 10.1z"></path>
          <path class="st29" d="M172.7 176.6l7.5 12.8-13.3-12.1z"></path>
          <path class="st48" d="M166.9 177.3L164 191l16.2-1.6z"></path>
          <path class="st56" d="M180.2 189.4l1.1-9.7-8.6-3.1z"></path>
          <path class="st57" d="M181.3 179.7l9.6 3.3-10.7 6.4z"></path>
          <path class="st43" d="M180.2 189.4l-11.5 21.2L164 191z"></path>
          <path class="st53" d="M164 191l-4.5 12.9 9.2 6.7z"></path>
          <path class="st8" d="M180.2 189.4l2.9 12.8-14.4 8.4zM183.1 202.2l4.4 11-4.4 10.7z"></path>
          <path class="st39" d="M183.1 202.2l-11.5 23.9 11.5-6.6z"></path>
          <path class="st42" d="M183.1 219.5l-8.1 11.9-3.4-5.3z"></path>
          <path class="st24" d="M183.1 202.2l7.8-19.2-10.7 6.4z"></path>
          <path class="st25" d="M168.7 210.6l2.9 15.5 11.5-23.9z"></path>
          <path class="st24" d="M159.5 203.9l12.1 22.2-2.9-15.5z"></path>
          <path class="st58" d="M159.5 203.9L144.4 215l27.2 11.1z"></path>
          <path class="st8" d="M159.5 203.9l-5.3-18.6 5.3 1.9 4.5 3.8zM154.2 185.3l-9.8 6.6v-5.6z"></path>
          <path class="st41" d="M154.2 185.3l-9.8 6.6 15.1 12z"></path>
          <path class="st39" d="M144.4 191.9V215l8-16.8z"></path>
          <path class="st40" d="M152.4 198.2l7.1 5.7-15.1 11.1zM183.1 202.2l11-7-3.2-12.2z"></path>
          <path class="st59" d="M194.1 195.2l-6.6 18-4.4-11z"></path>
          <path class="st49" d="M194.1 195.2l10.5-8.7-13.7-3.5z"></path>
          <path class="st60" d="M194.1 195.2l2 9.7-8.6 8.3z"></path>
          <path class="st27" d="M204.6 186.5v8.1l-10.5.6z"></path>
          <path class="st29" d="M204.6 186.5l8.1-3.5-8.1 11.6z"></path>
          <path class="st61" d="M194.1 195.2l10.5-.6-8.5 10.3z"></path>
          <path class="st24" d="M171.6 226.1l-13.2 9.7-1.5-15.7z"></path>
          <path class="st59" d="M156.9 220.1l-6.9 11.3-5.6-16.4z"></path>
          <path class="st8" d="M150 231.4l-5.6 11.4V215z"></path>
          <path class="st5" d="M158.4 235.8l-8.4-4.4 6.9-11.3z"></path>
          <path class="st40" d="M158.4 235.8l-9.7 5.3 1.3-9.7z"></path>
          <path class="st62" d="M171.6 226.1l-6.4 12.2-.4-7.2z"></path>
          <path class="st27" d="M164.8 231.1l-6.7 11 .3-6.3z"></path>
        </g>
      </svg>
    </div>
    <button v-bind:class="[ 'b_menu_toggler' , {'menu-is-active': menuShown} ]" @click="toggleMenu"><span class="_top"></span><span class="_middle"></span><span class="_bottom"></span></button>
    <div class="panel">
      <div v-bind:class="[ 'panel__nav' , {'panel__nav--visible': menuShown} ]">
        <a class="panel__nav-item panel__nav-item--active" href="#intro" @click="smoothScroll">Интро</a>
        <a class="panel__nav-item" href="#works" @click="smoothScroll">Работы</a>
        <a class="panel__nav-item" href="#about" @click="smoothScroll">Обо мне</a>
        <a class="panel__nav-item" href="#design" @click="smoothScroll">Дизайн</a>
        <a class="panel__nav-item" href="#coding" @click="smoothScroll">Верстка</a>
        <a class="panel__nav-item" href="#contacts" @click="smoothScroll">Контакты</a>
      </div>
      <div class="panel__contacts"><a class="panel__contacts-item panel__contacts-item--skype" href="skype:gifteddiz?chat" target="_blank">Skype</a><a class="panel__contacts-item panel__contacts-item--telegram" href="http://telegram.me/gifteddiz" target="_blank">Telegram</a>
        <button class="panel__contacts-chat" href="#" onclick="Chatra('openChat', true)">Онлайн чат</button>
      </div>
    </div>
    <div class="intro" id="intro">
      <div class="intro__bg">
        <video autoplay="autoplay" loop="loop" id="video" width="100">
          <source type="video/webm" src="/images/intro/video.webm">
          <source type="video/mp4" src="/images/intro/video.mp4">
        </video>
      </div>
      <div class="intro__grid">
        <div class="intro__container">
          <div class="intro__grid__inner">
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
            <div class="intro__grid__line"></div>
          </div>
        </div>
      </div>
      <div class="intro__content">
        <div class="intro__panel" data-paroller-factor="-.4" data-paroller-type="foreground" data-paroller-direction="vertical">
          <div class="intro__ava"><img src="/images/intro/ava.svg" alt="Andrey Medvedev"></div>
          <div class="intro__name">Андрей<br> Медведев </div>
          <div class="intro__position">Веб-дизайнер</div>
        </div>
        <a class="intro__scroll" @click="smoothScroll" href="#works" data-paroller-factor="-.2" data-paroller-type="foreground" data-paroller-direction="vertical">
          <div class="mouse">
            <div class="wheel"></div>
          </div>
          <div><span class="unu"></span><span class="doi"></span><span class="trei"></span></div>
        </a>
      </div>
    </div>
    <div class="works" id="works">
      <div class="container">
        <h2 class="works__h2">Мои работы</h2>
        <div class="works__wrapper">
          <div class="works__sizer"></div>
            <WorkPreview  v-for="work in works" :key="work._id" v-bind:path="work.Preview.path" v-bind:title="work.Title"/>
        </div>
      </div>
    </div>
    <div class="about" id="about">
      <div class="about__wrapper">
        <div class="container">
          <div class="about__wrapper-2">
            <h2 class="about__h2">Обо мне</h2>
            <div class="about__text">
              <div class="about__text-col">
                <p>Меня зовут Андрей Медведев, <strong>я&nbsp;занимаюсь дизайном, версткой и&nbsp;фронтендом уже более 10&nbsp;лет</strong>. </p>
                <p>В&nbsp;2006 году я&nbsp;начинал делать дизайны сайтов как фрилансер, со&nbsp;временем я&nbsp;изучил верстку и&nbsp;js, сотрудничая с&nbsp;различными студиями. С&nbsp;2010 по&nbsp;2017 год я&nbsp;работал &laquo;фуллтайм&raquo; в&nbsp;одном довольно известном агентстве, в&nbsp;качестве дизайнера и&nbsp;front-end разработчика. В&nbsp;определенный момент я&nbsp;понял что хочу подходить к&nbsp;проектам более индивидуально и&nbsp;в&nbsp;сентябре 2017 года решил уйти в&nbsp;свободное плавание.</p>
                <p>Я&nbsp;принимал участие в&nbsp;проектах таких известных брендов как <strong>Lenovo, Sony, KFC, BQ, Сандуны, Шоколадная фабрика &laquo;Победа&raquo;, Мебельная фабрика &laquo;Калинка&raquo;</strong>. И&nbsp;еще, за&nbsp;всё время работы я&nbsp;не&nbsp;подвел ни&nbsp;одного клиента, чем очень горжусь.</p>
              </div>
              <div class="about__text-col">
                <p>Моё основное направление&nbsp;&mdash; это дизайн и&nbsp;верстка сайтов, но&nbsp;так-же я&nbsp;занимаюсь разработкой логотипов и&nbsp;созданием иллюстраций, т.к. очень часто не&nbsp;имеет смысла привлекать отдельного человека на&nbsp;эти работы.</p>
                <p>В&nbsp;следующих блоках я&nbsp;расскажу о&nbsp;деталях процесса работы со&nbsp;мной по&nbsp;каждому направлений.</p>
                <div class="about__signature"><img src="/images/about/signed-photo.png" alt="Andrey Medvedev" width="214"></div>
              </div>
            </div>
            <div class="about__img" data-paroller-factor=".4" data-paroller-type="background" data-paroller-direction="vertical"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="design" id="design">
      <div class="container">
        <h2 class="design__h2">Этапы разработки дизайна сайта</h2>
        <div class="design__elements">
          <div class="design__element">
            <div class="design__ico"><img src="/images/design/ico-1.svg" alt="Техническое задание"></div>
            <div class="design__title"><span>1.</span>Техническое задание</div>
            <div class="design__text">ТЗ&nbsp;поможет избежать нестыковок и&nbsp;претензий в&nbsp;дальнейшем. Скачайте <a href="#">шаблон задания</a>, либо просто напишите в&nbsp;свободной форме. После утверждения&nbsp;ТЗ и&nbsp;согласования стоимости, происходит оплата&nbsp;50% бюджета.</div>
          </div>
          <div class="design__element">
            <div class="design__ico"><img src="/images/design/ico-2.svg" alt="Прототип"></div>
            <div class="design__title"><span>2.</span>Прототип</div>
            <div class="design__text">На&nbsp;этом этапе мы&nbsp;делаем &laquo;наброски&raquo; дизайна&nbsp;&mdash; рисуем общий вид, схемы страниц, без работы над цветами, типографикой и&nbsp;иллюстрациями. Часто этот этап можно пропустить. Приблизительные сроки&nbsp;&mdash; до&nbsp;3&nbsp;дней.</div>
          </div>
          <div class="design__element">
            <div class="design__ico"><img src="/images/design/ico-3.svg" alt="Дизайн"></div>
            <div class="design__title"><span>3.</span>Дизайн главной страницы</div>
            <div class="design__text">После утверждения прототипа, я&nbsp;приступаю к&nbsp;созданию полноценного дизайна. Начинаем обычно с&nbsp;главной страницы. Приблизительные сроки&nbsp;&mdash; до&nbsp;4&nbsp;дней.</div>
          </div>
          <div class="design__element">
            <div class="design__ico"><img src="/images/design/ico-4.svg" alt="Согласование"></div>
            <div class="design__title"><span>4.</span>Согласование</div>
            <div class="design__text">Необходимо полностью согласовать все элементы главной страницы, чтобы не&nbsp;возвращаться к&nbsp;ним потом, иначе это может повлечь изменения в&nbsp;других страницах. На&nbsp;количество правок ограничений нет, главное что&nbsp;бы эти правки вели к&nbsp;результату.</div>
          </div>
          <div class="design__element">
            <div class="design__ico"><img src="/images/design/ico-5.svg" alt="Дизайн"></div>
            <div class="design__title"><span>5.</span>Дизайн внутренних страниц</div>
            <div class="design__text">Я&nbsp;начинаю отрисовывать внутренние страницы, всплывающие окна, а&nbsp;так-же различные состояния элементов (например вид авторизованного и&nbsp;неавторизованного пользователя). Приблизительные сроки&nbsp;&mdash; до&nbsp;4&nbsp;дней .</div>
          </div>
          <div class="design__element">
            <div class="design__ico"><img src="/images/design/ico-6.svg" alt="Результат"></div>
            <div class="design__title"><span>6.</span>Результат</div>
            <div class="design__text">После всех согласований, вы&nbsp;оплачиваете оставшиеся&nbsp;50% стоимости и&nbsp;после я&nbsp;отправляю исходники вашего нового дизайна сайта, сделанного с&nbsp;учетом всех современных требований и&nbsp;тенденций. Всё позади :)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="coding" id="coding">
      <div class="coding__wrapper">
        <div class="container">
          <h2 class="coding__h2">Верстка</h2>
          <div class="coding__elements">
            <div class="coding__element">
              <div class="coding__ico"><img src="/images/coding/ico-1.svg" alt="1"></div>
              <div class="coding__text">Я&nbsp;не&nbsp;верстаю макеты пиксель в&nbsp;пиксель бездумно, а&nbsp;стараюсь подобрать размеры и&nbsp;отступы, чтобы элементы выглядели органично и&nbsp;правильно выровнены друг относительно друга.</div>
            </div>
            <div class="coding__element">
              <div class="coding__ico"><img src="/images/coding/ico-2.svg" alt="2"></div>
              <div class="coding__text">Верстаю всегда адаптивно, диапазон поддерживаемых разрешений 320&nbsp;px&nbsp;&mdash; 1920+&nbsp;px. Нет необходимости отрисовывать каждое разрешений, достаточно вида макета для больших экранов, остальные виды я&nbsp;сделаю сам.</div>
            </div>
            <div class="coding__element">
              <div class="coding__ico"><img src="/images/coding/ico-3.svg" alt="3"></div>
              <div class="coding__text">Использую стек технологий на&nbsp;своё усмотрение, если заранее не&nbsp;обговорено иначе. Обычно это SASS, Pug, Bootstrap, jQuery. Для именования классов использую БЭМ нэйминг конвенцию. Хорошо знаком с&nbsp;Git.</div>
            </div>
            <div class="coding__element">
              <div class="coding__ico"><img src="/images/coding/ico-4.svg" alt="4"></div>
              <div class="coding__text">Верстаю на&nbsp;современных технологиях, если заранее не&nbsp;обговорено иначе. То&nbsp;есть я&nbsp;не&nbsp;гарантирую корректный вид сайта в&nbsp;старых браузерах. Если по&nbsp;какой то&nbsp;причине вам нужна поддержка IE9, то&nbsp;сообщите об&nbsp;этом заранее, работа займет больше времени и&nbsp;будет дороже.</div>
            </div>
            <div class="coding__element">
              <div class="coding__ico"><img src="/images/coding/ico-5.svg" alt="5"></div>
              <div class="coding__text">Пишу валидный код, соблюдаю стандарты W3C. Всегда провожу все рекомендованные Google PageSpeed оптимизации, обычно верстка набирает не&nbsp;меньше 95&nbsp;из&nbsp;100&nbsp;баллов.</div>
            </div>
            <div class="coding__element">
              <div class="coding__ico"><img src="/images/coding/ico-6.svg" alt="6"></div>
              <div class="coding__text">Внутри проекта всегда всё аккуратно организовано, что очень обрадует специалистов, которые будут работать с&nbsp;версткой после меня. Картинки сгруппированы в&nbsp;папках по&nbsp;родительскому блоку, стили разбиты на&nbsp;раздельные .scss файлы, то&nbsp;же по&nbsp;блокам, скрипты инкапсулированы в&nbsp;функции, сложные моменты прокоментированы.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts" id="contacts">
      <div class="container">
        <div class="contacts__wrapper">
          <div class="contacts__content">
            <h2 class="contacts__h2">Контакты</h2>
            <div class="contacts__alert">
              <p> <strong>Я очень настойчиво призываю вести все обсуждения письменно, на это есть много причин:</strong></p>
              <ul>
                <li>В процессе теряется меньше нюансов, и вы и я всегда можем вернуться к истории переписки и уточнить какой-то момент.</li>
                <li>Письменное общение происходит более структурировано, во время созвонов наоборот разговор часто скачет с темы на тему.</li>
                <li>На письменные сообщения я могу ответить практически в любое время (когда я не сплю), а поговорить голосом удобно далеко не всегда</li>
              </ul>
            </div>
            <div class="contacts__data">
              <div class="contacts__data-item">
                <div class="contacts__data-img"><img src="/images/contacts/telegram.svg" alt="Telegram"></div>
                <div class="contacts__data-key">Telegram:</div>
                <div class="contacts__data-val"><a target="_blank" href="http://telegram.me/gifteddiz">@gifteddiz</a></div>
              </div>
              <div class="contacts__data-item">
                <div class="contacts__data-img"><img src="/images/contacts/skype.svg" alt="Skype"></div>
                <div class="contacts__data-key">Skype:</div>
                <div class="contacts__data-val"><a target="_blank" href="skype:gifteddiz?chat">gifteddiz</a></div>
              </div>
              <div class="contacts__data-item">
                <div class="contacts__data-img"><img src="/images/contacts/whatsapp.svg" alt="WhatsApp"></div>
                <div class="contacts__data-key">WhatsApp:</div>
                <div class="contacts__data-val"><a target="_blank" href="https://api.whatsapp.com/send?phone=79373519182">+7 937 351 91 82</a></div>
              </div>
              <div class="contacts__data-item">
                <div class="contacts__data-img"><img src="/images/contacts/email.svg" alt="Email"></div>
                <div class="contacts__data-key">Email:</div>
                <div class="contacts__data-val"><a target="_blank" href="mailto:gifteddiz@gmail.com">gifteddiz@gmail.com</a></div>
              </div>
            </div>
          </div>
          <div class="contacts__img" data-paroller-factor=".4" data-paroller-type="background" data-paroller-direction="vertical"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import WorkPreview from '@/components/WorkPreview.vue'

export default {
  components: {
    WorkPreview
  },
  data(){
    return {
      menuShown: false,
      works: {}
    }
  },

  watch: {
    works: function(val){
      this.$nextTick(() => {
        var that = this;
        that.positionWorks();
        $(window).on('load', function(){
          that.positionWorks();
        })
      })
    }
  },

  methods: {
    toggleMenu(){
      this.menuShown = !this.menuShown;
    },

    smoothScroll(e){
      let target = $(e.currentTarget.getAttribute('href'));
      this.menuShown = false;
      if( $(window).width() > 767 ){
        e.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    },

    handleScroll(){
      var points = [];
      $('.panel__nav-item').each(function(){
        if( $( $(this).attr('href')).length ){
          points.push( $( $(this).attr('href') ).offset().top );
        }
      })
      $(window).on('scroll', function(){
        var scrollPos = $(window).scrollTop() + $(window).height()-100,
            current = 0;
        $.each(points, function(ind){
          var val = parseInt(this);
          if(scrollPos > val) current = ind;
        })
        $('.panel__nav-item').eq(current).addClass('panel__nav-item--active').siblings().removeClass('panel__nav-item--active');
      })
    },

    initChatra(){
      window.ChatraSetup = {
        buttonSize: 1,
        colors: {
          buttonText: '#fff', 
          buttonBg: '#fe6d50' 
        }
      };
      (function(d, w, c) {
      w.ChatraID = 'XpXKTDvHhw4n4We2m';
      var s = d.createElement('script');
      w[c] = w[c] || function() {
      (w[c].q = w[c].q || []).push(arguments);
      };
      s.async = true;
      s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
      + '//call.chatra.io/chatra.js';
      if (d.head) d.head.appendChild(s);
      })(document, window, 'Chatra');
    },

    positionWorks(){
      $('.works__wrapper').masonry({
        itemSelector: '.works__item',
        percentPosition: true
      })
    },

    showPage(){
      document.getElementById('video').play();
      $('.loader').fadeOut(600);
      setTimeout(function(){ $('.intro__title').addClass('-animated');},200);
      setTimeout(function(){ $('.intro__name').addClass('-animated');},300);
      setTimeout(function(){ $('.intro__scroll').addClass('-animated');},400);
    }
  },


  beforeMount () {
    window.addEventListener('scroll', this.handleScroll);
    this.initChatra();
  },


  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll);
  },

  mounted () {
    this.showPage();
    axios.get('http://andrey-medvedev.ru/cockpit/api/collections/get/works?token=account-056a7cadf206f99cc5c7b6deebe298').
      then((data) => {
        this.works = data.data.entries
      })

    function initWorkView(){
      $('body').append('<div class="overlay"></div>')
      $('.works__item').click(function(e){
        e.preventDefault();
        var eTop = $(this).offset().top - $(window).scrollTop(),
            eLeft = $(this).offset().left,
            width = $(this).width(),
            height = $(this).height(),
            url = $(this).attr('href');

        if( !$('.overlay__item').length ) $('.overlay').append('<div class="overlay__item"></div>');
        $('.overlay__item').css({
          'top': eTop,
          'left': eLeft,
          'width': width,
          'height': height
        });
        $('.overlay__item').css({
          'top': 0,
          'left': 0,
          'width': $(window).width(),
          'height': $(window).height()
        });

        $.magnificPopup.open({
          items: {
            src: url
          },
          type: 'image',
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in',
          image: {
            verticalFit: false
          },
          callbacks: {
            close: function(){
              $('.overlay__item').remove();
            }
          }
        }, 0);
      })
    }
    $(initWorkView);
  }
}

</script>


<style>
  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  .loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
  }
  .loader svg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    height: 288px;
    margin-left: -144px;
    margin-top: -202px;
  }
  @media (max-width: 767px) {
    .loader svg{
      width: 180px;
      margin-left: -90px;
      margin-top: -180px;
    }
  }
  .st0{
    -webkit-animation: spin infinite linear 30000ms;
    -o-animation: spin infinite linear 30000ms;
    animation: spin infinite linear 30000ms;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
  }
  .st0{fill:none;stroke:#B5B5B5;stroke-miterlimit:10;stroke-dasharray:6.0105,6.0105;} .st1{fill:none;stroke:#B5B5B5;stroke-miterlimit:10;} .st2{fill:#262626;} .st3{fill:#3D3D3D;} .st4{fill:#373737;} .st5{fill:#484848;} .st6{fill:#626262;} .st7{fill:#727272;} .st8{fill:#585858;} .st9{fill:#949494;} .st10{fill:#898989;} .st11{fill:#686868;} .st12{fill:#676767;} .st13{fill:#7F7F7F;} .st14{fill:#9C9C9C;} .st15{fill:#BEBEBE;} .st16{fill:#CECECE;} .st17{fill:#E2E2E2;} .st18{fill:#E9E9E9;} .st19{fill:#F5F5F5;} .st20{fill:#D8D8D8;} .st21{fill:#ABABAB;} .st22{fill:#7E7E7E;} .st23{fill:#FCFCFC;} .st24{fill:#444444;} .st25{fill:#414141;} .st26{fill:#DDDDDD;} .st27{fill:#666666;} .st28{fill:#9D9D9D;} .st29{fill:#9A9A9A;} .st30{fill:#B8B8B8;} .st31{fill:#A5A5A5;} .st32{fill:#909090;} .st33{fill:#A8A8A8;} .st34{fill:#ADADAD;} .st35{fill:#D3D3D3;} .st36{fill:#999999;} .st37{fill:#BCBCBC;} .st38{fill:#C3C3C3;} .st39{fill:#494949;} .st40{fill:#575757;} .st41{fill:#5F5F5F;} .st42{fill:#606060;} .st43{fill:#6D6D6D;} .st44{fill:#F1F1F1;} .st45{fill:#C6C6C6;} .st46{fill:#818181;} .st47{fill:#DCDCDC;} .st48{fill:#8D8D8D;} .st49{fill:#717171;} .st50{fill:#D7D7D7;} .st51{fill:#929292;} .st52{fill:#6A6A6A;} .st53{fill:#6B6B6B;} .st54{fill:#9E9E9E;} .st55{fill:#848484;} .st56{fill:#787878;} .st57{fill:#6E6E6E;} .st58{fill:#464646;} .st59{fill:#525252;} .st60{fill:#5C5C5C;} .st61{fill:#757575;} .st62{fill:#5A5A5A;}
</style>